<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Item type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @session.name %></td>
      <td><%= @session.description %></td>
      <td><%= @session.item_type %></td>
    </tr>
  </tbody>
</table>
<table>
  <thead>
    <tr>
      <th> <%= @session.item_type.upcase %> </th>
      <% count = 1 %>
      <% while count <= 12 %>
      <% if @session["criterion_#{count}"] != "unused"%>
        <th><%= @session["criterion_#{count}"] %></th>
      <% end %>
      <% count += 1  %>
      <% end %>
    </tr>
  </thead>
    <tbody>
  <%= simple_form_for [session, session.items.build] do |f| %>
    <tr>
      <td><%= @item.name %></td>
      <% count = 1 %>
        <td>
          <%= simple_form_for [session, session.items.build] do |f| %>
            <%= f.input @item[""] %>
            <%= f.button :submit %>
          <%  %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>

  </table>
