<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Item type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @session.name %></td>
      <td><%= @session.description %></td>
      <td><%= @session.item_type %></td>
    </tr>
  </tbody>
</table>
<table>
  <thead>
    <tr>
      <th> <%= @session.item_type.upcase %> </th>
      <% count = 1 %>
      <% while @session["criterion_#{count}"] != "unused"%>
        <% criteria_count = count %>
        <th><%= @session["criterion_#{count}"] %></th>
      <% count += 1  %>
      <% end %>
    <th> Score </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @items.each do |y| %>
        <td><strong> <%= y.name %> </strong></td>
        <% count = 1 %>
        <% score = 0.0 %>
          <% while count <= criteria_count %>
              <td> <%= y["grouping_#{count}"] %> </td>
              <% group_word = y["grouping_#{count}"] %>
              <% importance_weight = @session["importance_#{count}"] %>
              <% converted = @convert["#{group_word}"] %>
              <% if group_word != 'unused' %>
                <% augment = converted * importance_weight %>
                <% score += augment %>
              <% end %>
              <% count += 1 %>
          <% end %>
          <td> <strong><%= score/10 %> </strong> </td>
          <% score = 0.0 %>
          </tr>
        <% end %>
  </tbody>
  </table>
<%= link_to "Evaluation session catalog", sessions_path, class: 'button' %>
